<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <!-- 配置mybatis的log实现为LOG4J -->
    <settings>
        <!-- 设置日志类，在控制台可以输出sql语句及参数信息，并且选择log4j作为输出日志 -->
        <setting name="logImpl" value="LOG4J"/>
        <!-- 全局性地启用或禁用所有在mapper配置文件中配置的缓存，二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 全局性地启用或禁用延迟加载,默认值为true，关闭懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <!--<typeAlias type="com.hsgene.entity.User" alias="User" />-->
        <!-- 包别名写sql语句返回类类型和参数类型时就可以不用写全限定名 -->
        <package name="com.hsgene.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <!-- 配置事务管理 -->
            <transactionManager type="JDBC"/>
            <!-- 配置自带数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <!-- 可以配置多个环境用于不同的数据库 -->
        <!--<environment id="test">-->
        <!--<transactionManager type="JDBC" />-->
        <!--<dataSource type="POOLED">-->
        <!--<property name="driver" value="${driver}"/>-->
        <!--<property name="url" value="${url}"/>-->
        <!--<property name="username" value="${username}"/>-->
        <!--<property name="password" value="${password}"/>-->
        <!--</dataSource>-->
        <!--</environment>-->
    </environments>
    <mappers>
        <mapper resource="mappings/UserDao.xml"/>
    </mappers>
</configuration>